# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

simple_entry
entry
datanode
*.pid
nfocleaner
foo-nukes
foo-pre
mp3info
foo-reset
createsfv
blehsfv
lfrtest
spy
webspy
zipcheck

Makefile
config.h
config.status
config.cache
config.log
autom4te.cache/
*.swp

*.bak
*.log
*.new

# Includes
!testing/mover/Makefile
!testing/new/Makefile
!unsorted-older/kicker/Makefile
!unsorted-older/lastraces/Makefile

